* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
}

#about-head {
    height: 50vh;
    width: 100%;
    background-image: url("./images/banner-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about-head .opacity-div {
    height: 100%;
    width: 100%;
    background-color: #6050a4;
    opacity: .5;
}

#about-head .about-title {
    position: absolute;
    top: 40%;
    left: 40%;
}

.about-title h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.about-title ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    background-origin: content-box;
    border-radius: 30px;
    padding: 10px 30px;
}

.about-title ul li:nth-child(1) a {
    color: #6050a4;
    text-decoration: none;
    transition: .5s;
}

.about-title ul li:nth-child(1) a:hover {
    color: rgb(255, 142, 67);
}

.about-title ul li {
    color: gray;
}