@media screen and (max-width: 750px) and (min-width: 330px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Merriweather', serif;
        overflow-x: hidden;
    }


    #about-head .about-title {
        position: absolute;
        top: 45%;
        bottom: 45%;
        left: 5%;
        right: 5%;
    }

    .about-title h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    /* Introducing target job */
    #introduce-target {
        padding: 30px 10px;
        flex-direction: column;
        gap: 50px;
    }

    .intro-text {
        width: 100%;
    }

    .intro-text h3 {
        font-size: 2rem;
    }
    .intro-text h4 {
        font-size: 1.1rem;
    }

    .intro-text p {
        font-size: .9rem;
    }

    .intro-link {
        justify-content: space-around;
    }

    .intro-image {
        width: 100%;
    }

    .intro-image img {
        border-radius: 10px 10px 0 0;
    }

    .intro-image .intro-image-experience {
        right: 15%;
        left: 15%;
        bottom: 5px;
    }




}