@media screen and (max-width: 750px) and (min-width: 330px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Merriweather', serif;
        overflow-x: hidden;
    }


    #about-head .about-title {
        position: absolute;
        top: 35%;
        left: 5%;
        right: 5%;
    }




}