* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

#about-head {
    height: 50vh;
    width: 100%;
    background-image: url("./images/about-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about-head .opacity-div {
    height: 100%;
    width: 100%;
    background-color: #6a57c0;
    opacity: .7;
}

#about-head .about-title {
    position: absolute;
    top: 40%;
    left: 40%;
}

.about-title h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.about-title ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    background-origin: content-box;
    border-radius: 30px;
    padding: 10px 30px;
}

.about-title ul li:nth-child(1) a {
    color: #6050a4;
    text-decoration: none;
    transition: .5s;
}

.about-title ul li:nth-child(1) a:hover {
    color: rgb(255, 142, 67);
}

.about-title ul li {
    color: gray;
}


#introduce-target {
    margin: 70px ;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.intro-text {
    width: 400px;
}

.intro-text h3{
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.intro-text h4{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.intro-text p{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    
}

.intro-image {
    width: 400px;
}

.intro-image img {
    width: 200px;
}