#categories-container {
    text-align: center;
    margin-bottom: 3em;
}

#categories-container h1{
    font-size: 3rem;
}

.categories-item-parent {
    padding: 20px 150px 20px 170px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.categories-item {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: rgb(93, 82, 186);
    color: white;
    font-weight: 600;
    padding: 50px 20px;
    border: 7px solid #393374;
    border-radius: 50%;
    transition: .3s;
}

.categories-item:hover {
    border: 7px solid rgb(243, 240, 240);
}

.categories-item-children {
    background-color: #0dcaf0;
    position: absolute;
    top: -5%;
    right: 0;
    border-radius: 100%;
}

.categories-item-children p {
    font-weight: 700;
    padding: 10px;
}

/* Target job intro */

#target-job-intro {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    margin-bottom: 5em;
}

.target-job-intro-child-one {
    position: relative;
}

.target-job-intro-child-one img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.intro-one-text {
    text-align: center;
    background-color: rgb(135, 85, 182);
    padding: 10px;
    margin: 0 55px;
    border-top: 20px solid rgb(34, 196, 196);
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
    color: white;
}

.target-job-intro-child-two {
    background-color: rgb(0, 183, 255);
    padding: 50px 50px 90px;
}

.target-job-intro-child-two h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
}

.target-job-intro-child-two p {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    margin-bottom: 40px;
}

.target-job-intro-child-two p a {
    text-decoration: none;
}

.intro-link a:nth-child(1) {
    font-size: 1.1rem;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 30px;
    margin-right: 20px;
    color: white;
    transition: background-color .7s;
}

.intro-link a:nth-child(1):hover {
    background-color: white;
    color: blue;
}

.intro-link a:nth-child(2) {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    transition: background-color .7s;
}

.intro-link a:nth-child(2):hover {
    background-color: white;
    color: burlywood;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 30px;
}

.target-job-intro-child-three {
    position: relative;
}

.target-job-intro-child-three img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.intro-three-text {
    background-color: rgb(255, 87, 87);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 30%;
}
.intro-three-text a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}