#review-item-container {
    margin: 100px 0;
}

#review-heading {
    text-align: center;
    margin: 0 0 100px;
}

#review-parent {
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.review-item {
    width: 300px;
    height: 150px;
    padding: 30px;
    text-align: center;
    background-color: aliceblue;
    position: relative;
    transition: .5s;
    margin-bottom: 50px;
}

.review-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 35%;
    right: 40%;
}

.review-item h2 {
    margin: 30px 0 0 0;
}

.review-star {
    margin: 0 0 30px 0;
}

.review-text {
    padding: 10px;
    text-align: center;
    background-color: transparent;
    /* opacity: 0;
    transition: opacity .4s; */
    position: absolute;
    top: -1000000000000000000000%;
}


/* Hover effect */
.review-item:hover {
    width: 300px;
    height: 300px;
}

.review-item:hover .review-text {
    /* opacity: 1; */
    top: 50%;
    left: 0;
}