.featured-job-title-text {
    text-align: center;
    margin-bottom: 20px;
}

.featured-job-title-text h1 {
    font-size: 3rem;
}

.featured-job-title-text p {
    font-size: 1.5rem;
}

.featured-job-main {
    background-color: transparent;
    height: auto;
    padding: 40px 30px;
    margin: 0 50px 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    align-items: center;
    position: relative;
    transition: .3s;
}

.featured-job-main:nth-child(5) {
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1);
}

.featured-job-main:hover {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}

.featured-image img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.featured-title h1 {
    margin-bottom: 5px;
}

.featured-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-details i {
    color: blueviolet;
}

.featured-details span {
    color: lightskyblue;
}

.featured-tag button:nth-child(1) {
    background-color: rgb(106, 59, 150);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 30px;
    transition: .3s;
}

.featured-tag button:nth-child(2) {
    background-color: rgb(168, 197, 216);
    color: rgb(43, 43, 153);
    border: none;
    padding: 5px 15px;
    border-radius: 30px;
    transition: .3s;
}

.featured-tag button:hover {
    background-color: #6e64bd;
    color: white;
}

.featured-apply-btn {
    position: absolute;
    top: 55%;
    right: 20px;
}

.featured-apply-btn a {
    text-decoration: none;
    background-color: #5d52ba;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s;
}

.featured-apply-btn a:hover {
    background-color: #22c4c4;
}

.pagination-container {
    margin: 100px 0 0 0;
    display: grid;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding: 25px;
    /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288); */
}

.pagination {
    display: flex;
    list-style: none;
}

.pagination li {
    margin: 0 5px;
    background: #dde1e7;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination li a {
    font-size: 18px;
    text-decoration: none;
    color: #4d3252;
    height: 45px;
    width: 55px;
    display: block;
    line-height: 45px;
}

.pagination li:first-child a {
    width: 120px;
}

.pagination li:last-child a {
    width: 100px;
}