.featured-job-title-text{
    text-align: center;
    margin-bottom: 20px;
}
.featured-job-title-text h1{
    font-size: 3rem;
}
.featured-job-title-text p{
    font-size: 1.5rem;
}
.featured-job-main {
    background-color: transparent;
    height: 100px;
    padding: 20px;
    margin: 0 50px 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    align-items: center;
    position: relative;
    transition: box-shadow 1s;
}

.featured-job-main:nth-child(odd){
    box-shadow: 5px 5px 5px rgb(204, 198, 198), 5px 5px 5px rgb(185, 171, 171);
}

.featured-job-main:hover{
    box-shadow: 5px 5px 5px rgb(204, 198, 198), 5px 5px 5px rgb(185, 171, 171);
}

.featured-image img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.featured-title h1 {
    margin-bottom: 5px;
}

.featured-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-details i {
    color: blueviolet;
}

.featured-details span {
    color: lightskyblue;
}

.featured-tag button:nth-child(1) {
    background-color: rgb(106, 59, 150);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color .5s;
}

.featured-tag button:nth-child(2) {
    background-color: rgb(168, 197, 216);
    color: rgb(43, 43, 153);
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color .5s;
}
.featured-tag button:hover{
    background-color: orangered;
}

.featured-apply-btn {
    position: absolute;
    right: 20px;
}

.featured-apply-btn a {
    text-decoration: none;
    background-color: rgb(255, 60, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color .5s;
}

.featured-apply-btn a:hover {
    background-color: rgb(5, 201, 201);
}

#pagination{
    text-align: center;
}

#pagination li {
    display: inline;
}

#pagination li a{
    text-decoration: none;
    padding: 10px;
    color: #000;
    border-radius: 5px;
}

#pagination li a.active{
    background-color: rgb(19, 148, 19);
    color: white;
}

#pagination li a:hover:not(.active){
    background-color: gray;
}