* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

nav {
    height: 70px;
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#toggle {
    display: none;
}

.togglebar {
    font-size: 30px;
    color: rgb(36, 34, 34);
    cursor: pointer;
    display: none;
}


/* Header item image container style */
.header-item-image-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header-item-image-container img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.header-item-image-container h1 {
    color: rgb(155, 74, 231);
}

.header-item-image-container p {
    color: mediumvioletred;
}


/* Header item link container */
.header-item-link-container ul {
    list-style: none;
    display: flex;
}

.header-item-link-container ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: color .5s, border .5s;
}

.header-item-link-container ul li a:hover {
    color: white;
    font-weight: 800;
    border-bottom: 1px solid orangered;
    border-radius: 30px;
    background-color: rgb(114, 240, 240);
}


/* Header register and login item */
.header-item-login-register-btn {
    display: flex;

}

.header-item-login-register-btn button {
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: transparent;
}

.header-item-login-register-btn button:hover {
    color: orangered;
}

.header-item-login-register-btn button:nth-child(2) {
    background-color: red;
    color: white;
    font-weight: 700;
    transition: background-color .9s, color .9s;
}

.header-item-login-register-btn button:nth-child(2):hover {
    background-color: olivedrab;
    color: white;
}

@media screen and (max-width: 980px) and (min-width: 200px) {
    body {
        overflow-x: hidden;
    }

    nav {
        height: 90px;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 0 10px;
    }



    .togglebar {
        display: block;
    }

    .header-item-image-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        cursor: pointer;
    }

    .header-item-image-container img {
        width: 40px;
        height: auto;
        border-radius: 50%;
    }

    .header-item-image-container h1 {
        color: rgb(155, 74, 231);
        font-size: .9rem;
    }

    .header-item-image-container p {
        color: mediumvioletred;
    }

    .header-item-link-container ul {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        padding-top: 8em;
        background-color: aliceblue;
        text-align: center;
        transition: all 1s;
    }

    .header-item-link-container ul li a {
        margin: 0 20px;
        display: block;
        line-height: 40px;
        font-size: 1.5rem;
    }

    .header-item-login-register-btn {
        display: flex;
        flex-wrap: wrap;
    }

    #toggle:checked~.header-item-link-container ul {
        top: 90px;
        right: 0;
    }

    .header-item-login-register-btn button {
        border: 0;
        padding: 5px 10px;
        border-radius: 30px;
        font-size: 1rem;
        background-color: transparent;
    }

    .header-item-login-register-btn button:hover {
        color: orangered;
    }

    .header-item-login-register-btn button:nth-child(2) {
        background-color: red;
        color: white;
        font-weight: 700;
        transition: background-color .9s, color .9s;
    }

    .header-item-login-register-btn button:nth-child(2):hover {
        background-color: olivedrab;
        color: white;
    }
}