* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.job-details{
    margin: 100px 50px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 30px;
}

.job-info h2{
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5rem;
}

.job-description{
    display: flex;
    gap: 120px;
    padding: 0 0 10px 0;
}

.job-description .job-address{
    display: flex;
    align-items: center;
    gap: 10px;
}