* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.job-details {
    margin: 100px 50px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 30px;
}

.job-info h2 {
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5rem;
}

/* job description */

 .job-info-container{
    display: flex;
    gap: 60px;
    padding: 0 0 10px 0;
}

.job-info-container .job-address,
.job-time,
.job-salary,
.job-position {
    display: flex;
    align-items: center;
    gap: 10px;
}

.job-info-container .job-address i,
.job-time i,
.job-salary i {
    color: #6277d1;
}

.job-info-container .job-address p {
    font-family: 'Raleway', sans-serif;
}


.job-info-container .job-time p,
.job-salary p {
    font-family: 'Roboto', sans-serif;
}

.job-info-container .job-position {
    margin: 0 0 0 30px;
    gap: 20px;
}

.job-info-container .job-position p {
    font-size: .8rem;
    padding: 5px 10px;
    border-radius: 40px;
}

.job-info-container .job-position p:nth-child(1) {
    background-color: #5d52ba;
    color: white;
    transition: .5s;
}

.job-info-container .job-position p:nth-child(1):hover{
    background-color: orangered;
}

.job-info-container .job-position p:nth-child(2) {
    background-color: #f0f8ff;
    color: #5d52ba;
    transition: .5s;
}
.job-info-container .job-position p:nth-child(2):hover{
    background-color: orangered;
    color: white;
}