@media screen and (max-width: 750px) and (min-width: 330px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        overflow-x: hidden;
    }

    .job-details {
        margin: 20px 10px;
        grid-template-columns: 1fr;
    }

    .job-info h2 {
        font-size: 2rem;
    }

}