@media screen and (max-width: 750px) and (min-width: 330px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
    }

    #job-search-container {
        padding: 30px 5px;
    }

    .job-parent {
        height:auto;
        padding: 30px 10px;
        text-align: center;
    }

    #title-location {
        flex-direction: column;
        margin: 0 0 50px 0;
    }

    #salary-level-remote-container {
        flex-direction: column;
        margin: 0 0 50px 0;
    }

    #search-btn {
        margin-bottom: 40px;
    }

    

}