* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.job-details {
    margin: 100px 50px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 30px;
}

.job-info h2 {
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5rem;
}

.job-info hr {
    margin: 0 0 30px 0;
}

/* job info container */

.job-info-container {
    display: flex;
    gap: 60px;
    padding: 0 0 10px 0;
}

.job-info-container .job-address,
.job-time,
.job-salary,
.job-position {
    display: flex;
    align-items: center;
    gap: 10px;
}

.job-info-container .job-address i,
.job-time i,
.job-salary i {
    color: #6277d1;
}

.job-info-container .job-address p {
    font-family: 'Raleway', sans-serif;
}


.job-info-container .job-time p,
.job-salary p {
    font-family: 'Roboto', sans-serif;
}

.job-info-container .job-position {
    margin: 0 0 0 30px;
    gap: 20px;
}

.job-info-container .job-position p {
    font-size: .8rem;
    padding: 5px 10px;
    border-radius: 40px;
}

.job-info-container .job-position p:nth-child(1) {
    background-color: #5d52ba;
    color: white;
    transition: .5s;
}

.job-info-container .job-position p:nth-child(1):hover {
    background-color: orangered;
}

.job-info-container .job-position p:nth-child(2) {
    background-color: #f0f8ff;
    color: #5d52ba;
    transition: .5s;
}

.job-info-container .job-position p:nth-child(2):hover {
    background-color: orangered;
    color: white;
}

/* Job description */
.job-description .description-title-summary {
    margin: 0 0 40px 0;
}

.job-description .description-title-summary h3 {
    margin: 0 0 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

.job-description .description-title-summary p {
    font-family: 'Barlow', sans-serif;
}

.role {
    margin: 0 0 40px 0;
}

.role h3 {
    margin: 0 0 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.role p {
    font-family: 'Barlow', sans-serif;
}

.role p strong {
    font-weight: 900;
}

.requirement {
    margin: 0 0 40px 0;
}

.requirement h4 {
    margin: 0 0 10px 0;
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
}

.requirement ul {
    margin: 0 0 0 30px;
    position: relative;
}

.requirement ul li {
    list-style-type: none;
    font-family: 'Barlow', sans-serif;
}

.requirement ul li::before {
    content: " ";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #5d52ba;
    position: absolute;
    left: -10px;
    top: 8px;
}

.requirement ul li:nth-child(2)::before {
    top: 28px;
}

.requirement ul li:nth-child(3)::before {
    top: 48px;
}

/* Apply save share */

.apply-save-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apply-save-share .apply-save button {
    border: 0;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
}

.apply-save-share .apply-save button:nth-child(1) {
    background-color: rgb(255, 86, 25);
    color: #fff;
}

.apply-save-share .apply-save button:nth-child(1):hover {
    background-color: #0dcaf0;
    color: #fff;
}

.apply-save-share .apply-save button:nth-child(2){
    border: 2px solid rgb(228, 228, 228);
    background-color: transparent;
    color: orangered;
}

.apply-save-share .apply-save button:nth-child(2):hover{
    border: 2px solid transparent;
    background-color: orangered;
    color: #fff;
}

.share{
    display: flex;
    align-items: center;
    gap: 20px;
}

.share i{
    color: #7362d1;
    transition: .5s;
}

.share i:hover{
    color: orangered;
}


/* job info finished here */





/* Job company */
.job-company{
    padding: 30px 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    height: 400px;
}

.job-logo-favourite{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-logo-title{
    display: flex;
    align-items: center;
    gap: 15px;
}

.job-logo-title img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0 , 0.1);
}

.job-logo-title p{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.bookmark{
    display: flex;
    gap: 10px;
}

