* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */
/* all code remove  */