* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

nav {
    height: 80px;
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}


#toggle {
    display: none;
}

.togglebar {
    font-size: 30px;
    color: rgb(36, 34, 34);
    cursor: pointer;
    display: none;
}


/* Header item image container style */
.header-item-image-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header-item-image-container img {
    width: 60px;
    height: 60px;
    border-radius: 190%;
}

.header-item-image-container h1 {
    color: rgb(155, 74, 231);
}

.header-item-image-container p {
    color: mediumvioletred;
}


/* Header item link container */
.header-item-link-container {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-item-link-container li a {
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    transition: color .5s, border .5s;
}

.header-item-link-container li a:hover {
    color: orangered;
}

.header-item-link-container li .dropdown {
    text-align: center;
    width: 150px;
    list-style-type: none;
    position: absolute;
    top: 40px;
    /* right: 45%; */
    padding: 10px 20px;
    background-color: white;
    line-height: 35px;
    font-weight: 300;
    border-radius: 5px;
    display: none;
}

.header-item-link-container li:hover .dropdown {
    display: block;
}

/* Header register and login item */
.header-item-login-register-btn {
    display: flex;
    margin-left: 50px;
}

.header-item-login-register-btn button {
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: transparent;
}

.header-item-login-register-btn button:hover {
    color: orangered;
}

.header-item-login-register-btn button:nth-child(2) {
    background-color: red;
    color: white;
    font-weight: 700;
    transition: background-color .9s, color .9s;
}

.header-item-login-register-btn button:nth-child(2):hover {
    background-color: olivedrab;
    color: white;
}